<div class="page-width">
<div class="class">
    <div class="grid_item">
        <h1>{{page.title}}</h1>

        <div class="rte">
            {{ page.content }}
        </div>
    </div>
</div>
<div>

    WORK2