<style>

  .productSection {
    margin-left: 50px;
  }
</style>
<section class="productSection">
  <h2>{{ page_title }}</h2>
  <p>Inside Amarillo</p>

  <p>Product:
    {{ product.title }}
    - ${{ product.price | divided_by: 100 }}
  </p>
  0
{% if product.vendor == 'Nike2' %}
  TEXTO
  {% endif %}
  1
  


{% if product.vendor == 'Nike' %}
  <h2>{{ product.vendor }}</h2>
{% else %}
El vendor no es Nike
{% endif %}


</section>
